$primary : #2E3192;
$secondary : #D35400;

$buy : #e2f8eb;
$sell : #fce5e5;

$danger : rgb(255, 0, 0);
$success : rgb(71, 190, 125);


// dark
$bg-primary-dark : #2f264f;
$bg-primary-dark-100 : #432C7D;
$border: #323248;
$border: #483b76;
$focus-border: #50506c;
$card-border : #2f264f;

$dark-primary : #0d141d;
$dark-100 : #1e1e2d;
$dark-200: #2B2B40;

$light-primary: #ffffff;
$light-100 : #f2f2f2;
$light-200: #CDCDDE;
$light-300: #b5b5bd;
$light-400: #92929F;
$light-500: #a1a5b7 ;

// button dark
$btn-primary : #7239ea;
$light-bg : #2B2B3E;  $light-color : #6D6D80;